{% extends "layout.html" %}

{% block content %}
<style>
    body {
        background-color: rgb(153, 0, 0);
    }
</style>
<div class="jumbotron">


    <h1>About</h1>
    <br/>
    <p>
        My name is Camell Wasserman, I’m a Computer Science student in Tichnet high school. this project is a part of our class.

        
    </p>
    <br />
    <p>
        In this project, we were asked to analyze datasets, present our research on a website and use the tools flask and pandas while doing so.
    </p>
    <br />
    <p>
        For my project, I chose to research COVID-19 and its impact on different countries. I chose this subject because it’s something that the whole world is going through right now, and I thought it will be a great opportunity to research this pandemic in a different way than seeing or reading the news.

    </p>
</div>

    {% endblock %}
