{% extends "layout.html" %}

{% block content %}
<style>
    body {
        background-color: rgb(153, 0, 0);
    }
</style>
<div class="jumbotron">


    <h1>Analyze Data</h1>


    <p>
        This chart shows what is the percentage of people who were confirmd sick/dead/recoverd in a specific date, in 5 Countrys.
    </p>

    <div class="row">

        <div class="col-md-2">
        </div>
        <div class="col-md-8">

            <img src={{ chart }} class="img-thumbnail" alt="not found" height={{height}} width={{ width }}>

        </div>
    </div>


</div>

    {% endblock %}
